<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4"> 
	<display-name>JWeb</display-name> 
	<servlet> 
		<servlet-name>Test</servlet-name> 
		<servlet-class>jweb.Test</servlet-class> 
	</servlet> 
	<servlet-mapping> 
		<servlet-name>Test</servlet-name> 
		<url-pattern>/Test</url-pattern> 
	</servlet-mapping>
	
</web-app>
